<a href="https://github.com/KaniuBillows/MuKaiMusic" id="github_icon" aria-label="View source on Github">
    <svg class="colorful_svg" viewBox="0 0 250 250" aria-hidden="true">
        <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
        <path
            d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
            fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
        <path
            d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
            fill="currentColor" class="octo-body"></path>
    </svg>
</a>
<div id='back-board'>
    <mk-img id='back-board-img' [src]='currentMusicInfo?.picUrl' loadSrc='../../../assets/img/logo.png'></mk-img>
    <div id='back-board-mask'></div>
</div>
<div id='contents'>
    <div id='music-info'>
        <mk-img id='album-pic' [src]='currentMusicInfo?.picUrl' loadSrc='../../../assets/img/logo.png'></mk-img>
        <div id='lyric-box'>
            <div id='lyrics' #lyrics>
                <P *ngIf="lyric_paras.length==0">正在加载歌词...</P>
                <p [id]='"par-"+i' [class]='currentLrcIndex == i? themeClass :"lrc"'
                    *ngFor='let lrc of lyric_paras; let i = index'>{{lrc.text}}</p>
            </div>
        </div>
    </div>
    <div id='playlist'>
        <ul>
            <li id="playlist-title">
                <div class="playlist-item">
                    <div class="playlist-name"><span>歌曲</span></div>
                    <div class="playlist-artist"><span>艺术家</span></div>
                    <div class="playlist-time"><span>时长</span></div>
                </div>
            </li>
            <li class="playlist-li" *ngFor='let item of playlist;let i = index'>
                <div class='playlist-item'>
                    <div class='playlist-number'>
                        {{i+1}}
                    </div>
                    <div class='{{currentMusicIndex==i? themeClass:"playlist-name"}} playlist-name'>
                        <span>{{item.name}}</span>
                    </div>
                    <!-- 操作选项 -->
                    <div [id]="'option-'+i" class="playlist-options">
                        <mat-icon class="click_button" (click)='clickPlay(i)'>play_circle_outline</mat-icon>
                        <mat-icon class="click_button" (click)='clickDownload(i)'>play_for_work</mat-icon>
                        <mat-icon class="click_button">delete</mat-icon>
                    </div>
                    <div class='playlist-artist'>
                        <span>{{item.artists[0].name}}</span>
                    </div>
                    <div class='playlist-time'>{{getTimeFormat(item.duration)}}</div>
                </div>
                <!-- 元素分割线 -->
                <i></i>
            </li>
        </ul>
    </div>
</div>
<div id='control'>
    <div class="control-item" id="control-buttons">
        <mat-icon (click)='onLastTrackButtonClick()'>skip_previous</mat-icon>
        <mat-icon *ngIf="stauts=='pause'||stauts=='stop'" (click)='onPlayButtonClick()'>play_circle_outline</mat-icon>
        <mat-icon *ngIf="stauts=='playing'||stauts=='loading'" (click)='onPauseButtonClick()'>
            pause_circle_outline
        </mat-icon>
        <mat-icon (click)='onNextTrackButtonClick()'>skip_next</mat-icon>
    </div>
    <div class="control-item">
        <span id='music-title-bottom'>{{currentMusicInfo?.name+' - '+currentMusicInfo?.artistName}}</span>
        <mat-slider #playProgress value='0.1' id='seek-bar' (input)='progressInput($event)'>
        </mat-slider>
    </div>
    <div class="control-item" id='volume' [ngSwitch]='volumeStatus'>
        <mat-icon class="volumeIcon" *ngSwitchCase="'off'" (click)='onReductionClick()'>volume_off</mat-icon>
        <mat-icon class="volumeIcon" *ngSwitchCase="'mid'" (click)='onMuteClick()'>volume_down</mat-icon>
        <mat-icon class="volumeIcon" *ngSwitchCase="'high'" (click)='onMuteClick()'>volume_up</mat-icon>
        <mat-slider id='volume-seek-bar' [(value)]='volume' max=100 min=0></mat-slider>
    </div>
    <app-palette class="control-item"></app-palette>

</div>
<button (click)='test()'>TEST</button>