<div id='back-board'>
    <img [src]='currentMusicInfo?.picUrl'>
    <div id='back-board-mask'></div>
</div>
<div id='contents'>
    <div id='music-info'>
        <img id='album-pic' [src]='currentMusicInfo?.picUrl' />

        <div id='lyric-box'>
            <div id='lyrics' #lyrics>
                <P *ngIf="lyric_paras.length==0">正在加载歌词...</P>
                <p [id]='"par-"+i' [class]='currentLrcIndex == i?"current_lrc":"lrc"'
                    *ngFor='let lrc of lyric_paras; let i = index'>{{lrc.text}}</p>
            </div>
        </div>
    </div>
    <div id='playlist'>
        <ul>
            <li *ngFor='let item of playlist;let i = index'>
                <div class='playlist-item'>
                    <div class='playlist-number'>
                        {{i+1}}
                    </div>
                    <div [class]='currentMusicIndex==i?"current-playlist-name":"playlist-name"'>
                        <span>{{item.name}}</span>
                    </div>
                    <div [id]="'option-'+i" class="playlist-options">
                        <mat-icon class="click_button" (click)='clickPlay(i)'>play_circle_outline</mat-icon>
                        <mat-icon class="click_button">play_for_work</mat-icon>
                        <mat-icon class="click_button">delete</mat-icon>
                    </div>
                    <div class='playlist-artist'>
                        <span>{{item.artists[0].name}}</span>
                    </div>
                    <div class='playlist-time'>{{getTimeString(item.duration)}}</div>
                </div>
                <!-- 元素分割线 -->
                <i></i>
            </li>
        </ul>
    </div>
</div>
<div id='control'>
    <div id="control-buttons">
        <mat-icon (click)='onLastTrackButtonClick()'>skip_previous</mat-icon>
        <mat-icon *ngIf="stauts=='pause'||stauts=='stop'" (click)='onPlayButtonClick()'>play_circle_outline</mat-icon>
        <mat-icon *ngIf="stauts=='playing'||stauts=='loading'" (click)='onPauseButtonClick()'>pause_circle_outline
        </mat-icon>
        <mat-icon (click)='onNextTrackButtonClick()'>skip_next</mat-icon>
    </div>
    <div>
        <span id='music-title-bottom'>{{currentMusicInfo?.name+' - '+currentMusicInfo?.artistName}}</span>
        <mat-slider #playProgress value='0.1' color='accent' id='seek-bar' (input)='progressInput($event)'></mat-slider>
    </div>
    <div id='volume' [ngSwitch]='volumeStatus'>
        <mat-icon class="volumeIcon" *ngSwitchCase="'off'" (click)='onReductionClick()'>volume_off</mat-icon>
        <mat-icon class="volumeIcon" *ngSwitchCase="'mid'" (click)='onMuteClick()'>volume_down</mat-icon>
        <mat-icon class="volumeIcon" *ngSwitchCase="'high'" (click)='onMuteClick()'>volume_up</mat-icon>
        <mat-slider id='volume-seek-bar' [(value)]='volume' max=100 min=0></mat-slider>
    </div>
</div>