$control-button-color: rgba(225, 225, 225, .8);
$them-color:#42b983;

#github_icon {
  cursor: pointer;
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 4;

  &:hover .octo-arm {
    animation: shake .56s ease-in-out;
  }


  svg {
    color: #fff;
    height: 80px;
    width: 80px;
  }
}

@keyframes shake {

  0%,
  to {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}


#back-board {
  display: flex;

  #back-board-img {
    display: block;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 1;
    filter: blur(40px);
  }

  #back-board-mask {
    position: absolute;
    background-color: #292a2b;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

#control {
  user-select: none;
  position: absolute;
  bottom: 20px;
  min-width: 1000px;
  margin-left: 5vw;
  display: flex;
  z-index: 3;
}

.control-item {
  margin: auto;
}

#music-title-bottom {
  left: 210px;
  bottom: 40px;
  position: absolute;
  font-size: 16px;
  cursor: pointer;
  color: $control-button-color;

  &:hover {
    color: #fff;
  }
}

#seek-bar {
  width: 60vw;
  margin-left: 10px;
  cursor: pointer;
}

#control-buttons {
  mat-icon {
    color: $control-button-color;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 48px;
    display: inline-flex;
  }

  mat-icon:hover {
    color: #fff;
  }
}

#volume {
  display: flex;

  .volumeIcon {
    font-size: 24px;
    color: $control-button-color;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
      color: #fff;
    }
  }

  #volume-seek-bar {
    display: inline-flex;
    width: 10vw;
    min-width: 120px;
    cursor: pointer;
  }
}

#contents {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
}

#album-pic {
  width: 240px;
  height: 240px;
  object-fit: cover;
  position: relative;
  margin-top: 120px;
  margin-left: 240px;
  display: block;
}

#lyrics {
  width: 240px;
  margin-top: 60px;
  cursor: -webkit-grab;
  overflow-y: visible;
  transition: -webkit-transform 0.1s ease-out 0s;
  font-size: 20px;
}

#lyric-box {
  position: absolute;
  top: 360px;
  width: 240px;
  height: 220px;
  left: 240px;
  cursor: -webkit-grab;
  overflow-y: hidden;
  text-align: center;
  user-select: none;
  color: $control-button-color;
  mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .6) 15%, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 1) 75%, rgba(255, 255, 255, .6) 85%, rgba(255, 255, 255, 0) 100%);
}

#playlist {
  position: absolute;
  width: 55vw;
  height: 65vh;
  left: 35vw;
  top: 15vh;
  color: $control-button-color;
  user-select: none;

  ul {
    overflow: hidden;
    clear: both;
    height: 100%;

    li {
      margin-top: 15px;
      margin-bottom: 15px;
      list-style: none;
      font-size: 20px;

      &:hover {
        .playlist-item {
          .playlist-options {
            opacity: 1;
          }
        }
      }

      .playlist-item {
        .playlist-options {
          position: absolute;
          cursor: pointer;
          color: $control-button-color;
          opacity: 0;
          right: 20vw;

          .click_button {
            font-size: 32px;
            margin-right: 10px;

            &:hover {
              color: #fff;
            }


          }
        }
      }


      i {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        opacity: .02;
      }
    }
  }
}





.playlist-item {
  clear: both;
  overflow: hidden;
  display: inline-flex;

  .playlist-number {
    margin-left: 10px;
  }



  .playlist-name {
    position: absolute;
    left: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 375px;
  }

  .current-playlist-name {
    position: absolute;
    left: 6vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 375px;
    color: #fff;
  }


  .playlist-artist {
    position: absolute;
    left: 36vw;
    width: 140px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;

    :hover {
      color: #fff;
    }
  }

  .playlist-time {
    position: absolute;
    left: 48vw;
  }
}