#container {
    position: absolute;
    bottom: 10vh;
    background-color: rgba(0, 0, 0, 0.6);
    height: 60px;
    border-radius: 14px;
    width: 300px;
    align-items: center;
    align-content: center;
    display: flex;

    span {
        position: relative;
        color: rgba(255, 255, 255, .6);
        margin: auto;
    }
}