<div class="container outlet-content ">
    <div class='outlet-content-board'>
        <ul class="nav-items">
            <a class="nav-item" routerLink="explore">
                <li class="{{class('explore')}}">
                    <mat-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M20 2H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H8V4h12v12zm-7.5-1c1.38 0 2.5-1.12 2.5-2.5V7h3V5h-4v5.51c-.42-.32-.93-.51-1.5-.51-1.38 0-2.5 1.12-2.5 2.5s1.12 2.5 2.5 2.5zM4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6z" />
                        </svg>
                    </mat-icon>
                    发现音乐
                </li>
            </a>
            <a class="nav-item">
                <li class="{{class('favorite')}}">
                    <mat-icon>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path fill="none" d="M0 0h24v24H0V0z" />
                            <path
                                d="M16.5 3c-1.74 0-3.41.81-4.5 2.09C10.91 3.81 9.24 3 7.5 3 4.42 3 2 5.42 2 8.5c0 3.78 3.4 6.86 8.55 11.54L12 21.35l1.45-1.32C18.6 15.36 22 12.28 22 8.5 22 5.42 19.58 3 16.5 3zm-4.4 15.55l-.1.1-.1-.1C7.14 14.24 4 11.39 4 8.5 4 6.5 5.5 5 7.5 5c1.54 0 3.04.99 3.57 2.36h1.87C13.46 5.99 14.96 5 16.5 5c2 0 3.5 1.5 3.5 3.5 0 2.89-3.14 5.74-7.9 10.05z" />
                        </svg>
                    </mat-icon>
                    我喜欢
                </li>
            </a>
            <a class="nav-item" routerLink="playlist">
                <li class="{{class('playlist')}}">
                    <mat-icon>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24"
                            enable-background="new 0 0 24 24" xml:space="preserve">
                            <g id="Bounding_Boxes">
                                <rect fill="none" width="24" height="24" />
                                <rect fill="none" width="24" height="24" />
                                <rect fill="none" width="24" height="24" />
                            </g>
                            <g id="Outline">
                                <g id="ui_x5F_spec_x5F_header">
                                </g>
                                <g id="XMLID_1588_">
                                    <g id="XMLID_1589_" transform="matrix(1 0 0 1 144 120)">
                                        <path id="XMLID_1590_"
                                            d="M-122-114h-5v8.18c-0.31-0.11-0.65-0.18-1-0.18c-1.66,0-3,1.34-3,3s1.34,3,3,3s3-1.34,3-3v-9h3V-114
                                    L-122-114z M-129-114h-12v2h12V-114L-129-114z M-129-110h-12v2h12V-110L-129-110z M-133-106h-8v2h8V-106L-133-106z M-129-103
                                    c0-0.55,0.45-1,1-1c0.55,0,1,0.45,1,1s-0.45,1-1,1C-128.55-102-129-102.45-129-103z" />
                                    </g>
                                </g>
                            </g>
                        </svg>

                    </mat-icon>
                    我的歌单
                </li>
            </a>
        </ul>
        <div class="display-item">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>