$control-button-color: rgba(225, 225, 225, .8);

.outlet-content {
    bottom: 110px;
    z-index: 3;
}

.outlet-content-board {
    display: flex;
    position: relative;
    height: 85vh;
    width: 80vw;
    z-index: 3;
    margin: auto;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 25px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
}

.container {
    position: absolute;
    text-align: center;
    width: 100%;


    .mat-icon {
        fill: currentColor;
        cursor: pointer;

    }
}

.nav-items {
    margin-top: 85px;
    user-select: none;
    text-align: left;
    width: 16%;
    max-width: 140px;
    list-style: none;
    display: block;
    z-index: 3;
    color: $control-button-color;
}

.nav-item {
    padding: 10px;
    white-space: nowrap;
    text-decoration: none;
    cursor: pointer;
    color: currentColor;
    display: block;

    li {
        display: inline-flex;
    }
}

#my-playlist {
    white-space: nowrap;

    .mat-expansion-panel-header {
        padding: 0px 10px;
    }
}

.normal {
    :hover {
        color: #fff;
    }
}

.display-item {
    width: 88%;
    height: 99%;
}