#container {
    border: 0px solid #bfbfbf;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
    background-color: white;
    display: block;
    height: 40vh;
    min-height: 300px;
    width: 30vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#register-title {
    text-align: center;
    color: black;
}

.register-button {
    width: 65px;
    height: 30px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: currentColor;
    cursor: pointer;
    box-shadow: 1px 1px 2px grey;

    span {
        user-select: none;
        color: black;
        line-height: 30px;
    }
}

.register-form-item {
    width: 70%;

    input {
        color: black;
    }

}



.item-contain {
    width: 100%;
    position: absolute;
    bottom: 20px;



    #errorInfo {
        margin-bottom: 40px;
        font-size: 14px;
        color: red;
    }
}

#spinner {
    margin: auto;
}