#search-container {
    height: 90%;
    position: relative;
    padding: 0 16px;
    display: block;
}

#spinner {
    top: 10%;
    left: 40%;
    position: absolute;
}

.result-title {
    color: rgba(255, 255, 255, 0.6);
    list-style: none;
    width: 85%;
    min-width: 670px;
    position: relative;
    margin: 20px auto;
    height: 30px;

    .result-item {
        min-width: 520px;
        width: 70%;
        margin: auto;
        display: flex;
    }

    #title-item {
        color: rgba(255, 255, 255, 0.4);
        user-select: none;
    }
}

#result-container {
    max-height: 90%;
    height: 90%;
    overflow: hidden;
    user-select: none;
    position: relative;

    #r-ul {
        position: absolute;
        clear: both;
        width: 100%;
    }
}

.option {
    width: 10%;
    position: absolute;
    line-height: 28px;
    white-space: nowrap;

    mat-icon {
        margin: 0 10px;
        cursor: pointer;

        &:hover {
            color: rgba(255, 255, 255, 1);
        }
    }

}

.result-name {
    width: 50%;
    text-align: left;
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-artist {
    width: 25%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-album {
    width: 20%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.result-time {
    min-width: 40px;
}

.scroll {
    width: 8px;
    height: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    visibility: hidden;
    right: 5%;
    position: absolute;
    top: 5%;
}

.bar {
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
}