#toolbar {
    margin-top: 25px;
    position: relative;
    width: 100%;
    height: 54px;
}

#title {
    color: #fff;
    font-size: 54px;
    user-select: none;
}

app-searchbar {
    position: relative;
    width: 175px;
    height: 32px;
    margin-left: 20px;
    align-self: flex-end;
}